
page-dashboard {


    .content{
        background-color: color($colors, light);
        
    }

    .item{
        background-color: color($colors, secondary);
    }

    .itemSearch{
        background-color: color($colors, awesome);
    }
    
    .list-header{
        background-color: color($colors, light);
    }
}