
page-manga {
    
    .content{
        background-color: #000000;
        
    }

    .btnsrc{
        margin-top: 10px;
        //background-color: #353535;
        background-color: #000000;

    }
    .btncat{
        margin-top: 10px;
        //background-color: #353535;
        background-color: #353535;

    }
}
