
page-manga {

    .no-scroll {
        .scroll-content {
            overflow: hidden !important;
        }
    } 
       
    .content{
        background-color: color($colors, light);
        
    }
        

    .slides{
        background-color: color($colors, secondary);
    }
}
